{% extends 'base.html.twig' %}

{% block title %}Préparer sa Visite {% endblock %}

{% block body %}
    <style>

        .ok10 {
            width: 166px;
            height: 250px;
            border-radius: 5%;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
            margin-right: 25px;
        }


        .contenantpresentation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 1100px;
        }

        .presentation2 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            text-align: center;
            width: 1137px;
            height: 300px;
            border-radius: 50px;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
            margin: 100px;

        }

        p {
            text-align: center;
        }
        .activitee6 {
            margin-left: 30px;
            margin-right: 30px;
            width: 100%;
        }

.dashboard-order {
    width: 340px;
    height: 45%;
    right: 0;
    padding-right: 1%;
    background-color: white;
    z-index: 3;
    font-size: 13px;
    position: sticky;
    top: 149px;
    float: right;
}
    </style>

<div class="dashboard-order ">


        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <i class="bi bi-cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg></i>
            <span class="text-muted">Mon Panier</span>
            <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        {% if session is defined %}
        <ul class="list-group mb-3" >
            <li>
                {% for programmes in programmes %}
                    {% if session.get(programmes.getTitle())!=null %}
                <div class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0"> {{ programmes.getTitle() }} </h6>
                <span class="text-muted">qté : {{ session.get(programmes.getTitle()) }}</span>
                        </div>
            </li>
                    {% endif %}
                {% endfor %}
            {% if price is defined %}
            <li>
                <div class="list-group-item d-flex justify-content-between lh-condensed">
                    <h6 class="my-0"> Prix total : {{ price }} € </h6>
                </div>
            </li>
            {% endif %}
            {% if promotion is defined %}
                {% if session.get('promo')!=null %}
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>{{ promotion }}</small>
                        </div>
                        <span class="text-success">-{{ session.get('promo') }}%</span>
                    </li>
                {% endif %}
            {% endif %}

            <li class="list-group-item d-flex justify-content-between">
                <button type="button" class="btn btn-secondary"><a href="{{ path('app_reserver_vider') }}" style="text-decoration: none; color: white">Vider</a></button>
                {% if app.user %}
                <button type="button" class="btn btn-success"><a href="{{ path('app_reserver_acheter') }}" style="text-decoration: none; color: white">Acheter</a></button>
                 {% else %}
                <button type="button" class="btn btn-success"><a href="{{ path('app_login') }}" style="text-decoration: none; color: white">Acheter</a></button>
                {% endif %}
            </li>
        </ul>

        <form action="{{ path('app_reserver_add_promotion') }}" class="card p-2">
            <div class="input-group">
                <label>
                <input type="text" id="promo" name="promo"  class="form-control"  placeholder="Promo code">
                </label>
                <br>
                <div class="input-group-append">
                <input type="submit" class="btn btn-secondary" value="Submit">
                </div>
            </div>
        </form>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-notice">
                    {{ message }}
                </div>
            {% endfor %}


    {% else %}
    <div class="order-wrapper">Panier vide.</div>
    {% endif %}
</div>

        {% for programmes in programmes %}

            <div class="contenantpresentation">
                <div class="presentation2">
                    <div class="activitee6">
                        <br>
                        <h3>{{ programmes.getTitle() }}</h3>
                        <hr>
                        <div class="container text-center">
                            <div class="row">

                                <div class="col">
                                    age min : {{ programmes.getAgeMin() }}

                                </div>
                                <div class="col">
                                    prix : {{ programmes.getPrice() }}

                                </div>

                            </div>
                        </div>
                        <hr>
                        <p><i>
                                {{ programmes.getDescriptionProgram() }}
                            </i></p>
                        <div class="cart_btn">
                            <a href="{{ path('app_reserver_add', {'program':programmes.id}) }}"><button type="button" class="btn btn-outline-success">Ajouter au panier</button></a>
                        </div><br>
                        <div class="cart_btn">
                            <a href="{{ path('app_reserver_dell', {'program':programmes.id}) }}"><button type="button" class="btn btn-outline-danger">Supprimer du panier</button></a>
                        </div>
                    </div>
                    {%  if programmes.getPictureDecoPath()!=null%}
                    <div class="activitee5">
                        <br>
                        <img alt="imgDeco" class="ok10" src="{{ programmes.getPictureDecoPath() }}">
                    </div>
                    {% endif %}
                </div>

            </div>

        {%endfor%}
{% endblock %}