{% extends 'base.html.twig' %}

{% block title %}Hello Jeu7Controller!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jeu7.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/jeu7.js')}}"></script>
{% endblock %}


{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>function flip(image){
            let im=document.getElementById(image);
            if(im.getAttribute('src')!=="{{asset('IMG/IMG2525.jpg')}}"){
                if(image==="img7" || image==="img15"){
                    $(im).attr('src',"{{asset('IMG/m9.jpg')}}");
                }else if(image==="img1" || image==="img18"){
                    $(im).attr('src',"{{asset('IMG/m1.jpg')}}");
                }else if(image==="img2" || image==="img17"){
                    $(im).attr('src',"{{asset('IMG/m2.jpg')}}");
                }else if(image==="img3" || image==="img16"){
                    $(im).attr('src',"{{asset('IMG/m3.jpg')}}");
                }else if(image==="img4" || image==="img12"){
                    $(im).attr('src',"{{asset('IMG/m4.jpg')}}");
                }else if(image==="img5" || image==="img11"){
                    $(im).attr('src',"{{asset('IMG/m5.jpg')}}");
                }else if(image==="img6" || image==="img10"){
                    $(im).attr('src',"{{asset('IMG/m6.jpg')}}");
                }else if(image==="img8" || image==="img14"){
                    $(im).attr('src',"{{asset('IMG/m7.jpg')}}");
                }else if(image==="img9" || image==="img13"){
                    $(im).attr('src',"{{asset('IMG/m8.jpg')}}");
                }
                let know=document.getElementById("cnt");
                know.textContent=parseInt(know.textContent)+1+"";
                if(know.textContent==="2"){
                    isSameCards(image);
                }else if(know.textContent==="3"){
                    know.textContent=1+"";
                    returnCards(image);
                }
            }
        }

        function isSameCards(image){
            let lignes=document.getElementById("table").rows;
            let len=lignes.length;
            let count=1;
            let arret="false";
            for(let i=0; i<len; i++)//on peut directement définir la variable i dans la boucle
            {
                let arrayColonnes = lignes[i].cells;//on récupère les cellules de la ligne
                let largeur = arrayColonnes.length;

                for(let j=0; j<largeur; j++)
                {
                    let id="img"+count;
                    if(id!==image){
                        let p1=document.getElementById(id);
                        let p2=document.getElementById(image);
                        if(p1.getAttribute('src')===p2.getAttribute('src')){
                            let val=document.getElementById("nbrPaire");
                            val.textContent=parseInt(val.textContent)+1+"";
                            $(p1).attr('src',"{{asset('IMG/IMG2525.jpg')}}");
                            $(p2).attr('src',"{{asset('IMG/IMG2525.jpg')}}");
                            arret="true";
                            if(val.textContent==="9"){
                                document.body.style.backgroundColor="green";
                                document.getElementById('success').style.display='block';

                                //display='block'
                                let ding = new Audio('http://utopiazoo.local/taquin/win.mp3');
                                ding.play();


                            }
                            break;
                        }
                    }
                    count++;
                }
                if(arret==="true"){
                    break;
                }
            }

        }

        function returnCards(image){
            let lignes=document.getElementById("table").rows;
            let len=lignes.length;
            let count=1;
            for(let i=0; i<len; i++)//on peut directement définir la variable i dans la boucle
            {
                let arrayColonnes = lignes[i].cells;//on récupère les cellules de la ligne
                let largeur = arrayColonnes.length;

                for(let j=0; j<largeur; j++) {
                    let id="img"+count;
                    if(id!==image){
                        let p1=document.getElementById(id);
                        if(p1.getAttribute('src')!=="{{asset('/taquin/cardBack.jpg')}}"){
                            if(p1.getAttribute('src')!=="{{asset('IMG/IMG2525.jpg')}}"){

                                $(p1).attr('src',"{{asset('/taquin/cardBack.jpg')}}");
                            }
                        }

                    }
                    count++;
                }

            }
        }

        function retry(){
            location.reload();
        }

    </script>
    {% include 'game/header-game.html.twig' %}
    <div class="game">
        <h2 id="nbrPaire">0</h2>
        <h3 id="cnt">0</h3>
        <table  id="t1">
            <tr>
                <td>
                    <table id="table" style="align-content: center">
                        <tr>
                            <td><img alt="taquinImage" id="img1" onclick="flip('img1')"  src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img2" onclick="flip('img2')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img3" onclick="flip('img3')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img4" onclick="flip('img4')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img5" onclick="flip('img5')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img6" onclick="flip('img6')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                        </tr>
                        <tr>
                            <td><img alt="taquinImage" id="img7" onclick="flip('img7')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img8" onclick="flip('img8')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img9" onclick="flip('img9')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img10" onclick="flip('img10')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img11" onclick="flip('img11')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img12" onclick="flip('img12')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                        </tr>
                        <tr>
                            <td><img alt="taquinImage" id="img13" onclick="flip('img13')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img14" onclick="flip('img14')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img15" onclick="flip('img15')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img16" onclick="flip('img16')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img17" onclick="flip('img17')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                            <td><img alt="taquinImage" id="img18" onclick="flip('img18')" src="{{asset('taquin/cardBack.jpg')}}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="wrapper">
            <span class="button" >Recommencer</span>
        </div>
    </div>
        <div id='success' >
            <div class="alert alert-success"  role="alert" >
                <div class="x"  style="text-align: right"   onclick="retry()">
                <i class="bi bi-x-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </i>
                </div>

                <h4 class="alert-heading">Félicitation !</h4>
                <p>Aww yeah, tu as réussi.</p>
                <hr>
                {% if session.get('gameReduction')==true %}
                <p class="mb-0">Tu as même reçu un code promo... Tu as la chance d'avoir -5% sur tes visites avec le code : </p>
                <p id="codepromo">{{ session.get('gameNameReduction') }}</p>

                {% else %}
                <p class="mb-0">malheureusement, il n'y a pas de code promo pour cette fois essaye un autre jeu !!! </p>
                {% endif %}

            </div>

        </div>


{% endblock %}
