{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}

    <style>

    body{

        background: url("https://zupimages.net/up/22/17/hi86.jpg") no-repeat center center;
        height: 900px;


    }
    .login-box{
        width: 450px;
        position: relative;
        top: 281px;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        background-color: rgba(0,0,0,0.5);
        padding: 0rem 2rem 0.3rem;
    }
    .login-box h1{
        float: left;
        font-size: 2.7rem;
        border-bottom: 4px solid green;
        margin-bottom: 3rem;
        padding: 0.3rem 0;
    }
    .txt-box{
        width: 100%;
        overflow: hidden;
        font-size: 1.2rem;
        padding: 0rem 0;
        margin: 1.4rem 0;
        border-bottom: 1px solid green;
    }
    .txt-box i{
        width: 1.6rem;
        float: left;
        text-align: center;
    }
    .txt-box input{
        border: none;
        outline: none;
        background: none;
        color: white;
        font-size: 1.1rem;
        width: 80%;
        float: left;
        margin: 0 10px;

    }
    .submit-box{
        width: 100%;
        background: none;
        border: 1px solid green;
        color: white;
        padding: 5px;
        font-size: 1rem;
        margin: 24px 0 12px;
        cursor: pointer;

    }
    .connex{
        color: white;
    }
    .txt{
        width: 100%;
        overflow: hidden;
        font-size: 1rem;
        padding: 0rem 0;
        margin: 0.5rem 0;
        border-bottom: 1px solid white;
    }

</style>
    <section class="container my-3">
        <div class="login-box">
            <h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>
            <div class="txt-box">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">
                                    Me Déconnecter
                            </a>
                        </div>
                    {% endif %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                        <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                        <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                    </svg>
                    <label for="inputEmail">Email</label>
                    <div class="txt">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>


                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-lock2-fill" viewBox="0 0 16 16">
                        <path d="M7 7a1 1 0 0 1 2 0v1H7V7z"/>
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM10 7v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V9.3c0-.627.46-1.058 1-1.224V7a2 2 0 1 1 4 0z"/>
                    </svg>
                    <label for="inputPassword">Mot de passe</label>
                    <div class="txt">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-lg btn-primary mt-3" type="submit">
                        Me connecter
                    </button>
                    <div class="txt-box">
                        <table>
                            <tr>
                                <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                    </svg>
                                    <a href="https://www.facebook.com" class="connex"> Se connecter avec Facebook </a> </td>
                            </tr>
                            <tr>
                                <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                                    </svg>
                                    <a href="https://www.google.com" class="connex"> Se connecter avec Google</a> </td>
                            </tr>
                        </table>
                    </div>
                    <p align="center"> <a href="{{path('app_passeword_forget')}}" class="connex">Mot de passe oublié ? </a></p>
                    <p align="center"> <a href="{{path('app_registre')}}" class="connex">  Vous n'avez pas de compte ? Inscrivez-vous </a> </p>



                </form>

            </div>
        </div>
    </section>


{% endblock %}
