{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/header-game.css') }}">
{% endblock %}
{% block body %}
<div class="baniere">
    <!--<img src="fond2.jpg" alt="image">-->
    <div class="texte_centrer"><h1>Espace Jeux</h1>
    </div>
</div>

<section class="section-bar">

    <div class="link">
        <a href="{{ path('app_game') }}"><div class="item" id="pain">
                <img alt=""  src="https://zupimages.net/up/23/08/qlq0.png"><br>Règles Jeux Menu </div></a>
        <a href="{{ path('app_jeu5') }}"><div class="item" id="pain">
                <img alt=""  src="{{ asset('pendu.png') }}"><br>Pendu</div></a>

        <a href="{{ path('app_jeu7') }}"><div class="item" id="viennoiserie">
                <img alt=""  src="https://zupimages.net/up/23/08/h6h6.png"><br>Memory</div></a>

        <a href="{{ path('app_jeu6') }}"><div class="item" id="Patisserie">
                <img alt=""  src="https://zupimages.net/up/23/08/tcro.png"><br>Taquin</div></a>

        <a href="{{ path('app_quizz') }}"><div class="item" id="Patisserie">
                <img alt="" src="https://zupimages.net/up/23/11/u5b8.jpeg" style="width: 100px"><br>Quiz</div></a>



    </div>
    <div class="partie1">
        <br>
        <h4 class="text1-P1">Joué et vous aurez peut-être la chance de gagné</h4><br><br>
        <h4 class="text1-P2"> UN CODE PROMO</h4>
    </div>
{% endblock %}