{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/game-index.css') }}">
{% endblock %}
{% block title %}Hello GameController!{% endblock %}

{% block body %}
    {% include 'game/header-game.html.twig' %}
    <!--Contenu-->
    <!-- About-->
    <section class="page-section" id="about">
        <div >
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Règles des Jeux</h2>
                <br><br><br><br>
            </div>
            <ul class="timeline">
                <a href="{{ path('app_jeu5') }}" class='a' >
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ asset('pendu.png') }}" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <br>
                            <h4 class="subheading">Pendu</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Trouver le mot cacher avant que le roi meurt :'( </p></div>
                    </div>
                </li>
                </a>
        <a href="{{ path('app_jeu7') }}" class='a'>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://zupimages.net/up/23/08/h6h6.png" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <br>
                            <h4 class="subheading">Memory</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Retourner des cartes avec des images cachées pour trouver des paires identiques. </p></div>
                    </div>
                </li>
        </a>
            <a href="{{ path('app_jeu6') }} " class='a' >
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://zupimages.net/up/23/08/tcro.png" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <br>
                            <h4 class="subheading">Taquin</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Un jeu de puzzle qui consiste à déplacer des tuiles d'images sur un plateau afin de les remettre dans l'ordre correct.</p></div>
                    </div>
                </li>
            </a>
                <a href="{{ path('app_quizz') }} " class='a' >
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://zupimages.net/up/23/12/sf74.jpeg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <br>
                                <h4 class="subheading">Quizz</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Tester votre culture G en testant notre quizz animal !!!</p></div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>
    </section>

{% endblock %}
