{% extends 'base.html.twig' %}

{% block title %}Taquin!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jeu6.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/jeu6.js')}}"></script>
{% endblock %}

{% block body %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    {% include 'game/header-game.html.twig' %}
    <div class="game">
        <table id="tb1">
            <tr>
                <td>
                    <table id="table">
                        <tr>
                            <td><img alt="" id="img1" onclick="" src=""></td>
                            <td><img alt="" id="img2" onclick="moves('img2')" src="{{ animalImg.img2 }}"></td>
                            <td><img alt="" id="img3" onclick="moves('img3')" src="{{ animalImg.img3  }}"></td>
                        </tr>
                        <tr>
                            <td><img alt="" id="img4" onclick="moves('img4')" src="{{ animalImg.img4  }}"></td>
                            <td><img alt="" id="img5" onclick="moves('img5')" src="{{ animalImg.img5  }}"></td>
                            <td><img alt="" id="img6" onclick="moves('img6')" src="{{ animalImg.img6 }}"></td>
                        </tr>
                        <tr>
                            <td><img alt="" id="img7" onclick="moves('img7')" src="{{ animalImg.img7  }}"></td>
                            <td><img alt="" id="img8" onclick="moves('img8')" src="{{ animalImg.img1  }}"></td>
                            <td><img alt="" id="img9" onclick="moves('img9')" src="{{ animalImg.img9  }}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="wrapper">
            <span class="button" onclick="retry()">Recommencer</span>
        </div>
    </div>
    {% if session.get('gameReduction')=='true' %}
        <p>FFAFAFAFAFAEZFDEGDUGYDHJKEHIZRGYEHDJNHLCKGRB</p>
    {% endif %}
{% endblock %}
