{% extends 'base.html.twig' %}

{% block title %}Taquin!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/jeu6.css')}}">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/jeu6.js')}}"></script>
{% endblock %}

{% block body %}
    <style>
        .game{
            background-color: pink;
            alignment: center;
            margin-left: 100px;
            margin-bottom: 100px;
            margin-right: 100px;
            margin-top: 100px;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <div class="game">
        <h1>Hello {{ controller_name }}! ✅</h1>
        <table border="1">
            <tr>
                <td>
                    <table id="table">
                        <tr>
                            <td><img id="img1" onclick="" src=""></td>
                            <td><img id="img2" onclick="moves('img2')" src="{{asset('taquin/img2.jpg')}}"></td>
                            <td><img id="img3" onclick="moves('img3')" src="{{asset('taquin/img3.jpg')}}"></td>
                        </tr>
                        <tr>
                            <td><img id="img4" onclick="moves('img4')" src="{{asset('taquin/img4.jpg')}}"></td>
                            <td><img id="img5" onclick="moves('img5')" src="{{asset('taquin/img5.jpg')}}"></td>
                            <td><img id="img6" onclick="moves('img6')" src="{{asset('taquin/img6.jpg')}}"></td>
                        </tr>
                        <tr>
                            <td><img id="img7" onclick="moves('img7')" src="{{asset('taquin/img7.jpg')}}"></td>
                            <td><img id="img8" onclick="moves('img8')" src="{{asset('taquin/img1.jpg')}}"></td>
                            <td><img id="img9" onclick="moves('img9')" src="{{asset('taquin/img9.jpg')}}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
